<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd">


<bean id="jopdd" class="org.springframework.jndi.JndiObjectFactoryBean">
<property name="jndiName" value="java:/comp/env/dsjndi"/>
</bean>

<bean id="jopp" class="org.springframework.jdbc.core.JdbcTemplate">
<property name="dataSource" ref="jopdd"></property>
</bean>

<bean id="jff" class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping"/>

<bean id="joup" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<property name="prefix" value="/WEB-INF/pager/"/>
<property name="suffix" value=".jsp"></property>
</bean>

<bean id="kop" class="com.spring.Service.IServiceImplement"/>

<context:component-scan base-package="com.spring"></context:component-scan>

</beans>
